.panel.panel-white
  .panel-heading
    %h2.panel-title Fitboxes
  - if @user.fit_boxes.count > 0
    %table.table
      %thead
        %th Name
        %th Description
        %th
      %tbody
        - @user.fit_boxes.where.not(status:[4,2]).each_with_index do |box, i|
          %tr
            %td
              = link_to box do
                Fitbox # 
                = i+1
            %td= box.description
            - if @user == current_user
              %td.text-right= link_to 'Destroy', fit_box_path(box), method: :delete, class: 'btn btn-danger'
  - else
    .panel-body
      %h4.text-center No FitBoxes