- @users. each do |client|
  %p
    = client.first_name
    = client.last_name
    = link_to 'Show', user_path(client)
    - if current_user.type == 'Admin'
      =link_to 'Destroy', user_path(client), method: :delete