%footer.footer-section
  .navbar
    .container
      %ul.nav.navbar-nav.footer-nav
        %li
          %a{:href => "#"} About fixbox
        %li
          %a{:href => "#"} blog
        %li
          %a{:href => "#"} contact us
        %li
          %a{:href => "#"} privacy policy
        %li
          %a{:href => "#"} terms of services
      %ul.nav.navbar-nav.navbar-right.nav-socials
        %li
          %a{:href => "#"}
            %i.fa.fa-tumblr
        %li
          %a{:href => "#"}
            %i.fa.fa-facebook
        %li
          %a{:href => "#"}
            %i.fa.fa-pinterest-p