body {
  background-color: #fff;
}
.text-uppercase {
  text-transform: uppercase;
}
.main-navbar .nav > li > a  { 
  text-transform: uppercase;
}
.main-navbar .navbar-header  { 
  width: auto;
  min-width: auto;
}

.placeholder-sm {
  min-height:180px;
  background-color: #f0f0f0;
}
.placeholder-video {
  min-height:520px;
}
.placeholder-video img{
  width: 100%;
  height: 100%;

}
.ph-block {
  width: 100%;
  height: 100%;
}
.ph-block:before {
  border-top: 1px solid #fff;
  width: 100%;
  height: 1px;
  -webkit-transform: rotateZ(45deg);
}
.video-block {
  /*margin: 40px 0;*/
  display: block;
  position: relative;
}

.postion-block {
  position: absolute;
  text-align: center;
  display: block;
  width: 100%;
  top:0;
}
.postion-block h3{
  text-transform: uppercase;
  font-weight: 600;
}

.btn-main {
  text-transform: uppercase;
  border-radius: 12px;
}
footer {
  margin-top: 50px;
}

footer .nav.footer-nav > li:after {
  position: absolute;
  content: "";
  right: 0;
  top: 4px;
  width: 2px;
  height: 12px;
  border-right: 2px solid #ccc;
}
footer .nav.footer-nav > li:last-child:after {
  border-right-color: transparent;
}

footer .nav.footer-nav > li > a {

  padding: 0 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ccc;
  font-size: 12px;

}

footer .nav.footer-nav > li:first-child > a {
  padding-left: 0;
}

.section--heading {
  font-weight: 600;
  padding: 30px 0;
  color: #666;
}

.section--text {
  color: #666;
  padding: 15px 0;
}

.footer-section {
  border-bottom: 2px solid #f0f0f0;
  margin-bottom: 20px;
  padding-bottom: 60px;
}
.nav.nav-socials li {
  margin-left: 6px;
}
/*.nav.nav-socials li {}*/
.nav.nav-socials li > a{
  color: #fff;
  border-radius: 50%;
  background-color: #e0e0e0;
  /*padding: 0;*/
  padding: 9px 12px;
  display: block;
}
.nav.nav-socials li > a:hover{
  background-color: #d6d6d6;
}