body {
  background-color: #fff;
}
.section-container {
  padding: 30px 0;
}
.image-wrapper {
  border: 2px solid #f0f0f0;
  min-height: 180px;
}
#howItWorks{
  border-bottom: 2px solid #f0f0f0;
}

#big-slider {
  border: 2px solid #f0f0f0;
  .slide {
    height: 600px;
    padding: 40px;
  }
}

#brandsSlider {
  .slide {
    min-height: 180px;
    border: 2px solid #f0f0f0;
    margin-right: 20px;
    a {
      &:hover,
      &:focus {
        outline: none;
        border: none;
      }
    }
  }
}

#brands {
  border-bottom: 2px solid #f0f0f0;
  .section-container {}
}
#call-to-action {
  .section-container {
    border-bottom: 1px dashed #f0f0f0;
  }
}

.text-uppercase {
  text-transform: uppercase;
}
.main-navbar .nav > li > a  { 
  text-transform: uppercase;
}
.main-navbar .navbar-header  { 
  width: auto;
  min-width: auto;
}

.placeholder-sm {
  min-height:180px;
  background-color: #f0f0f0;
}
.placeholder-video {
  min-height:520px;
}
.placeholder-video img{
  width: 100%;
  height: 100%;

}
.ph-block {
  width: 100%;
  height: 100%;
}
.ph-block:before {
  border-top: 1px solid #fff;
  width: 100%;
  height: 1px;
  -webkit-transform: rotateZ(45deg);
}
.video-block {
  /*margin: 40px 0;*/
  display: block;
  position: relative;
}

.postion-block {
  position: absolute;
  text-align: center;
  display: block;
  width: 100%;
  top:0;
}
.postion-block h3{
  text-transform: uppercase;
  font-weight: 600;
}

.btn-main {
  text-transform: uppercase;
  border-radius: 12px;
}


.nav.footer-nav {

  li:after {

    position: absolute;
    content: "";
    right: 0;
    top: 4px;
    width: 2px;
    height: 12px;
    border-right: 2px solid #e6e6e6;

  }

  li:last-child:after {
    border-right-color: transparent;
  }

  li:first-child > a {
    padding-left: 0;
  }

  li > a {

    padding: 0 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ccc;
    font-size: 12px;

    &:hover {
      background-color: transparent;
      color: #b0b0b0;
    }
  }

}


.section-heading {
  font-weight: 400;
  padding: 10px 0;
  margin: 10px 0;
  font-size: 28px;
}

.section-text {
  color: #aaa;
  padding: 10px 0;
}

.footer-section {
  border-bottom: 2px solid #f0f0f0;
  padding-bottom: 60px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.nav.nav-socials li {
  margin-left: 6px;
}

.nav.nav-socials li > a{

  color: #fff;
  border-radius: 50%;
  background-color: #e0e0e0;
  padding: 6px 12px;
  display: inline-block;

}

.nav.nav-socials li > a:hover{
  background-color: #d6d6d6;
}

.slick-next,
.slick-prev {
  &:after {}
  &:before {
    top: 0;
    left: 0;
    display: inline-block;
    position: absolute;
    background-color: #aaa;
  }
}


