@font-face {
    font-family: 'GillSans';
    src: asset-url('GillSans.ttc');
    font-style: normal;
    font-weight:normal;
}

@font-face {
    font-family: 'Didot';
    src:  asset-url('Didot.ttc');
    font-style: italic;
    font-weight:normal;
}
@font-face {
    font-family: 'RobotoMedium';
    src:  asset-url('Roboto-Medium.ttf');
    font-style: normal;
    font-weight:normal;
}
@font-face {
    font-family: 'RobotoLight';
    src:  asset-url('Roboto-Light.ttf');
    font-style: normal;
    font-weight:normal;
}





.banner_slides{
   height: 58.6vw;
    position: relative;
}
.get_started:hover{
        color: #000 !important;
    background-color:rgba(255,255,255,0.81);

}
.banner_nav{    position: absolute;
    display: run-in;
    width: 100%;
    height: 15px;
    bottom: 19px;
    text-align: center;}



 ul.slick-dots li.slick-active{background:#f4f7fa;}
   
ul.slick-dots li{    
    cursor: pointer;
    width: 10px;
    height: 10px;
    background: rgba(244, 247, 250, 0.56);
    border-radius: 23px;
    margin: 0px 4px 0 9px ;
    display: inline-block;
        text-indent: -99999px;
    }

.slick-dots{
        position: absolute;
       bottom: 15px;
    width: 100%;
    text-align: center;
}



a{
    text-decoration:none;
}
a:hover{text-decoration:none!important;color:#000!important;}
h1{       text-transform: uppercase;
    font-size: 2.9em;
    font-family: 'GillSans';
    text-align: center;
    margin-top: 0;
    letter-spacing: 0.7vw;}
h2 {
    font-size: 30px;
    font-family: 'RobotoLight';
    letter-spacing: 0.13vw;
}   
h3{font-size: 1.3em; font-family: 'GillSans';}  
.navbar-static-top{
    border:0px!important;
    margin:0px!important;
    background-color: #000;    padding: 0 8px;
    top: 0;
    right: 0;
    left: 0;    padding: 0 10px;}

.navbar-nav {
      padding: 0vw 6vw 0 3vw;
}   
.nav>li {
   
}
#top_banner{
    padding-top:0!important;
    padding-bottom: 0!important;
    position:relative;
    margin:0!important;
     overflow: hidden;
}
#top_banner img{
    width: 100%;
       
}
.navbar .container{    margin-top: 58px;}
.navbar-nav li a{    text-transform: uppercase;}
.logo_block img{width:68%;    max-width: 308px;
margin: 0.7em 0;
}
.logo_block a   {    width: 100%;
    display: block;}
    .centered_block { position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 11%;
    text-align:center;
    width:100%;
    }

    li.sign_in{
    
 margin-right:0!important; float: right;
    }
ul.nav.navbar-nav a {
          font-size: 1.1em;
    margin: 0.7em 0;
       font-family: 'RobotoLight';
    letter-spacing: 1.1px;
}   
.sign_in{          
    padding-left: 4.9em;
    padding-right: 0.4em;}
    .get_started{
    
         color: #fff;
    padding: 1.1em 2.4em;
    border: 3px solid #fff;
    text-transform: uppercase;
    font-size: 1.9em;
    font-family: 'RobotoMedium';
    letter-spacing: 0.02em;
        position: relative;
    z-index: 10000;
    }
    
    .center-row {
    display:table;    width: 100%;
}
.center {
    display:table-cell;
    vertical-align:middle;
    float:none;    text-align: center;    line-height:2.5em;
}

.slick-initialized .slick-slide {
    position: relative;
}
#likeit {
    background-color:#000;
        color: #fff;}

#likeit>div{
        width: 100%;    padding: 15.3% 0 6%;
}


    
#likeit .input-group    {     width:100%;  height: 63px;
    border: 4px solid #fff;
    }
#likeit .input-group input{

              text-transform: uppercase;
    font-family: 'GillSans';
    font-size: 1.7em!important;
    padding: 0.7em 1.4em!important;
    background-color: transparent;
    color: #000;
    border-color: #fff;
    box-shadow: none!important;
       letter-spacing: 0.08em;
       height: 100% !important;
    padding: 0px 1.2em !important;
    border: none !important;
        border-right: 4px solid #fff!important;
   
      }
 #likeit .input-group input:hover{
     background-color: rgb(226, 226, 226)!important;
 }    
  #likeit .input-group input:focus{
     background-color: rgb(226, 226, 226)!important;
 } 

#likeit .input-group input:focus::-webkit-input-placeholder {
    color: #000;
} 
#likeit .input-group input:focus::-moz-placeholder {
    color: #000;
}
#likeit .input-group input:focus::-ms-input-placeholder{
    color: #000;
}
#likeit .input-group input:hover::-webkit-input-placeholder {
    color: #000;
} 
#likeit .input-group input:hover::-moz-placeholder {
    color: #000;
}
#likeit .input-group input:hover::-ms-input-placeholder{
    color: #000;
}



#likeit span{   width:50%;}
#likeit .input-group input::-webkit-input-placeholder{ color: #fff;}
#likeit button{    
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    font-family: 'GillSans';
    font-size: 1.5em;
    letter-spacing: 0.06em;
    width: 100%;
        line-height: 38px;
    border:none!important;}
    .input-group-btn {    font-size: 1.2em!important;}
#get_started{position: relative;}
#get_started img{    max-width: 100%;}  
#howworks {text-align:center;    padding: 7.6vw 0 9vw;}
#howworks h1{       margin-bottom: 8.2%;
    margin-top: 0}
    #howworks h2{ text-transform:uppercase;    margin-bottom: 9%;}
#howworks   .row{    padding: 0 4vw;}
.cent_block{   padding: 0px 4%;} 
    
.text_block{        padding: 0px 4.3%;}
.text_block_desc{
     font-family: 'Didot';
    font-size: 1.3em;
    letter-spacing: 1px;
    line-height: 1.8em;
}
#footer{background-color:#121750;}  

#get_started h1{    
        font-size: 3.4em;
    letter-spacing: 0.2em;
    margin-bottom: 8%;}
    
#get_started .desc {
       font-family: 'Didot';
    font-size: 2.1em;
    margin-bottom: 40%;
    line-height: 1.6em;
    letter-spacing: 0.01em;
}

.navbar a:hover{
    color:#fff!important;
} 
#get_started .get_started {
 
    padding: 0.2em 2.4em;}
.read_btn {
          font-family: 'GillSans';
    color: #000;
    text-transform: uppercase;
    border: 3px solid #000;
    font-size: 1.8em;
    padding: 1.3em 5.8em;
    letter-spacing: 0.1em;
}
.read_btn:hover{
    background-color:#000;
    color:#fff!important;
}
#about img{max-width: 79%;
    margin: 5% 11%;}
#about p{          font-family: 'Didot';
    font-size: 1.4em;
    letter-spacing: 2px;
    margin: 4.2vw 0 10.2vw;
    line-height: 1.9em;
    text-align: center;}
#about .about_title{   
        margin-top: 0;
    position: relative;
    font-size: 2.9em;
    letter-spacing: 0.15em;    color: #000;}

#value{background:asset-url('6Value.jpg');}
#featured img {
    max-width: 100%;
}
.underline_title {    display: initial;position: relative;}
#about {
    background:asset-url('about.jpg') no-repeat center;
        background-size: cover;    padding:13.8% 0 11%;
}
#get_started {
    background:asset-url('4getstarted.jpg') no-repeat center;
        background-size: cover;       padding: 11.3% 0 10.5%;
}

#value{text-align:center;        padding: 5% 5% 2%;}
#value h1{    color: #fff;
   
    font-size: 2.9em!important;
    letter-spacing: 0.1em;}
#value h3{       font-size: 1.4em;
    font-style: italic;
    letter-spacing: 0.1em}  
#value .underline_title:after {
border-bottom: 2px solid #fff!important;}
#value .row div {    
        text-align: center; color:#fff;
            margin-bottom: 0.5%;
    margin-top: 6%;}
#value img {     width: 14%;
       margin: 1.7em 0;}
#value .row{  }
#value p{     font-size: 1.2em;
    line-height: 2em;}
    
    
footer  a{        text-transform: uppercase;
    font-size: 1.2em;
    padding: 0 0.8em 0 1.3em;}
footer {background-color:#000;       padding: 3.7% 0 4%;}   

footer .row{      text-align: center;
    margin-bottom: 2em;
    line-height: 2.6em;}

.container{position: relative;}

.container .jumbotron {padding:0!important}
   
#likeit .desc {
          font-size: 2.4em;
    letter-spacing: 0.05em;
    line-height: 2.5em;
    font-family: 'Didot';    margin-bottom: 9%;
}

@media (max-width:750px) {
    #likeit h1,#get_started h1,#about .about_title  {
    font-size: 1.4em!important;}
#likeit .desc {
font-size: 1.4em!important;}
#get_started .desc {
   margin-bottom: 12%!important;    }
footer  a {
font-size: 0.8em!important;}
}


@media (max-width:990px) {
    .read_btn{    
        font-size: 1em!important;
        padding: 0.5em 3em!important;
     }
    .featured_link .read_btn {
        padding: 2em 1em !important;
    }
    
    #likeit span {
        width: 36%;
    }

    .get_started{
        font-size: 1em!important;
    }
}
    
    
element.style {
    width: 49%;
}
.center {
    display: table-cell;
    vertical-align: middle;
    float: none;
    text-align: center;
    line-height: 2.5em;
    /* width: 100%; */
}
@media(max-width: 992px){
    .howworks_link .right_block{padding: 0px !important;}
    .cent_block {
    padding: 0px !important;
    }
    .howworks_link .left_block {
    padding: 0px !important;
    }
}
@media(max-width: 768px){
    .logo_block img {
    width: 28%!important;
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto!important;
    }
    .logo_block{
        position:relative;
    }
}
@media(min-width: 768px){
.logo_block img {
    margin: 0px !important;
    }
}


@media (min-width: 992px)and (max-width: 1720px){  
    #likeit .col-md-12{ 
         width: 100%;
    } 
    .featured_link .read_btn{    
     font-size: 1.6em; 
    }
 }

.membership_link .input-lg {
    height: 89px!important;}
footer a:hover {
    color: #fff !important;
}
.featured_link{    background: asset-url("featured.jpg") no-repeat center;
    background-size: cover;
  }

.featured_link_block{    padding:13% 0 20% 0;    background-color: #D2D2CD;}    

.featured_link .read_btn {    padding:2.5em 0em 3.2em!important;
    font-size: 2em;
    font-family: 'RobotoLight';
    text-align:center;
        letter-spacing: 0.7vw;
        line-height: 3.1vw;
}

 div.first_line    {    margin-bottom: 10%;
    font-size: 1.5em;    letter-spacing: 0.1vw;
    }

.logo_block{
        margin-left: 21px;
}



@media(min-width:1196px) and (max-width:1377px){
#likeit button{
      
    }
#likeit span {
    width: 49%!important;
}    
}

 @media(min-width:1660px) and (max-width:2000px){
#likeit .input-group input {
    font-size: 1.4em !important;
    }

}

.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 47%;
    display: block;
    width: 36px;
    height: 43px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
        z-index: 1000;
}
.slick-next {
    right: 22px;
    background: asset-url('right_ar.png');
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
}
.slick-prev {
    left: 22px;
    background: asset-url('left_ar.png');
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    }
.featured_link .read_btn {
    margin-left: 27%;
    width: 56%;
    } 
.navbar {
    min-height: 46px!important;
    }



@media(min-width: 1200px) and (max-width: 1300px){
.banner_slides {
    height: 58vw!important;
}
h1{
    font-size: 1.5em!important;
    letter-spacing: 0.5vw!important;
}
.logo_block img {
    width: 64%!important;
    }
.logo_block {
    margin-left: 21px!important;
}    
.navbar-nav {
    padding: 0vw 0vw 0 1vw !important;
}
.sign_in {
    padding-left: 4.8em !important;
    padding-right: 1.4em !important;
}
ul.nav.navbar-nav a {
        font-size: 0.7em!important;
    margin: 0em 0!important;
    padding:14px 10.5px 13px 13.2px !important;
        letter-spacing: 0.9px!important;
    }

#likeit > div {
    padding: 14% 0 11.4% !important;
    }
#howworks {
    padding: 9.3vw 0 10.4vw!important;
    }
#howworks h1 {
    margin-bottom: 9.2%!important;
} 
#howworks h2 {
    margin-bottom: 32px !important;
    letter-spacing: 0.1vw!important;
        margin-top: 20px!important;
    }
.howworks_link .left_block{
    padding:0px 5.4% 0 0 !important;
    } 
.howworks_link .right_block{
    padding: 0px 1.9% 0 0% !important;
    }   
.text_block_desc {
    font-size: 0.9em !important;
    letter-spacing: 0.24px !important;
        line-height: 2em!important;
        }

#likeit h1 {
    margin-bottom: 4.4%!important;
    letter-spacing: 0.45vw !important;
        line-height: 2.4em!important;
    }  
 #likeit .desc {
    letter-spacing: 0.015em!important;
    margin-bottom: 12.9% !important;
        font-size: 1.25em!important;
    }
.container {
    width: 100%;
    padding: 0 3%!important;
    }
#likeit .input-group input {
    padding: 0px 1.3em !important;
    
    }
 #likeit button {
    line-height: 24px!important;
    padding: 15px 2px!important;
    letter-spacing: 0.08em;
    }    
 #likeit .input-group {
        height: 56px!important;
    }      
.featured_link_block {
    padding: 13% 0 18.2% 0!important;
    }
.featured_link .read_btn {
    margin-top: 58px!important;
    margin-left: 27%!important;
    width: 56%!important;
    padding: 2.4em 0.2em 38px !important;
    }  

 .featured_link .read_btn span{
    letter-spacing: 4.1px!important;
    }
 div.first_line {
    margin-bottom: 7%!important;
    font-size: 1.7em!important;
    letter-spacing: 0.1vw!important;
    }  
 #about {
    padding: 15.2% 0 13.2%!important;
    }   
#about .about_title {
    letter-spacing: 0.17em!important;
    }       
#about p {
    letter-spacing: 0.4px!important;
    margin: 4.7vw 0 10.4vw!important;
    line-height: 2em!important;
    }
.text_block {
    padding: 0px 9px!important;
    }
.get_started {
    padding: 1.3vw 3.7vw !important;
    }
.centered_block {
    height: 10%!important
    }

#get_started {
    padding: 13.9% 0 16.4% !important;
    }    
#get_started h1 {
    letter-spacing: 0.17em !important;
    margin-bottom: 9.9%!important;
    }  
#get_started .desc {
    letter-spacing: 0.6px !important;
    margin-bottom: 28%!important;
    } 
#get_started .read_btn    {
        padding: 1em 6.1em!important;
    }  
footer {
    padding: 3.6% 0 3%!important;
    }  
footer .row {
    margin-bottom: 0.8em!important;
    }  
footer a {
    font-size: 0.8em!important;
    padding: 0 0.38vw 0 0.45vw!important;
    }                   
}

.howworks_link .left_block{
    padding:0px 5.4% 0 0 ;
} 
.howworks_link .right_block{
    padding:0px 0.9% 0 3.8%;
} 

 .top_banner_slide {  background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    }
.banner_slides.slick-initialized.slick-slider.slick-dotted > div {
    height: 100%!important;
}
.slick-track{
    height: 100%!important;
}
 /********----------****/
 @media(max-width:1660px){
.container {
    padding: 0 6%;
}


.navbar-nav {
    padding: 0vw 4vw 0 3vw;
}   


.sign_in {
    padding-left: 3.4em ;
    padding-right: 1em ;
}

ul.nav.navbar-nav a {
    font-size: 0.8em;
    margin: 0em 0;
        padding: 15px 9px ;
    }  
.get_started {
       padding: 0.9em 2.5em;
           font-size: 1.4em;
    }
#howworks {
    padding:2.2vw 0 9.2vw;
    }
h1 {
        font-size: 1.8em;
    letter-spacing: 0.37vw;
    }
#howworks h1 {
    margin-bottom: 9%;
    }
h2{
    letter-spacing: 0.14vw;
    font-size: 18px;
    }
#howworks h2 {
    margin-bottom: 35px;
        margin-top: 18px;
    }
.text_block_desc {
    font-size: 1em;
    letter-spacing: 0px;
    line-height: 1.9em;
    }  


#likeit h1 {
    line-height: 2.3em;
    letter-spacing: 0.23em;
    font-size: 1.6em;
    margin-bottom: 4%;

    }
#likeit .desc {
    font-size: 1.3em;
    line-height: 2.5em;
    margin-bottom: 12%;
    letter-spacing: 0;
    } 
#likeit .col-md-12 {
    width: 77%;
}
#likeit button{
   padding: 8px 2px;
    font-size: 14px;
    letter-spacing: 0.06em;
    } 
#likeit .input-group {
    height: 61px;
    }
#likeit .input-group input  {
         
    font-size: 14px !important;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
#likeit > div {
    padding: 12.4% 0 12.4%;
    }
#likeit span {
    
    }
.featured_link_block {
    padding: 13% 0 18% 0;
    } 
.featured_link .read_btn{
    margin-top: 62px;
    }    
.featured_link .read_btn {
    padding: 2.7em 0.4em ;
    font-size: 1em !important;
    letter-spacing: 0.4vw!important;
    }  
div.first_line {
    margin-bottom: 6%;
    font-size: 1.7em;
    letter-spacing: 0.1vw;
    }
#about {
    padding: 14.3% 0 12.3%;
    }  
#about p {
    font-family: 'Didot';
    font-size: 1em;
    letter-spacing: .58px;
    margin: 4.4vw 0 9.8vw;
    line-height: 2em;
    }     
 #about .about_title{
    letter-spacing: 0.16em;
    font-size: 1.5em;
    }  
 .text_block {
    padding: 0px 2vw;
    }  
.read_btn {
    font-size: 1.2em;
    padding: 1em 5.7em;
    }
#get_started {
        padding: 13.6% 0 12.8%;
    }    
#get_started h1 {
    font-size: 1.5em;
    letter-spacing: 0.2em;
    margin-bottom: 10%;
    }  
#get_started .read_btn{
        padding: 1.25vw 7.9vw;
    }      
#get_started .desc {
    font-size: 1em;
    margin-bottom: 36%;
        line-height: 2.3em;
        letter-spacing: 0.07em;
    }
footer a {
    font-size: 0.8em;
    padding: 0 0.5em 0 0.8em;
    }  
footer .row {
    margin-bottom: 1em;
    line-height: 2.5em;
    }  
footer {
    background-color: #000;
    padding: 3.6% 0 3%;
    }        
}      


